.wrong-beer-error {
    color: black;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    padding-top: 80px;
}

.search-description {
    display: flex;
    max-width: 600px;
    margin: 20px auto;
}

.search-bold-tekst {
    font-weight: bold;
}

.beer-img-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 8px 0;
    width: 100%;
}

.trashy-blond {
    height: 393px;
    width: 340px;
}

.magic-stone-dog {
    height: 379px;
    width: 98px;
}

.electric-india {
    height: 399px;
    width: 275px;
}
