.wrong-beer-error{
    color: black;
    font-size: 16px;
}

.beer_img_home {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    height: 200px;
    border: 4px solid red;
}

.trashyBlond {
    height: 393px;
    width: 340px;
    border: 4px solid black;
}

.magicStoneDog {
    height: 379px;
    width: 98px;
    border: 4px solid black;
}

.electricIndia {
    height: 399px;
    width: 275px;
    border: 4px solid black;
}

