nav {
    display: flex;
    background-color: white;
    color: black;
    flex-wrap: wrap;
    position: fixed;
    width: 1200px;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: black;
}
.active {
    text-decoration: underline;
}

nav a:hover {
    color: #ccc;
}

ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.pages-website {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pages-website-button {
    border: none;
    font-size: 16px;
    background: white;
    cursor: pointer;
    margin-right: 16px;
    width: 120px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-website-button-logout {
    border: none;
    font-size: 16px;
    background: white;
    cursor: pointer;
    margin-right: 16px;
    width: 120px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.biero-logo-nav {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    width: 100%;
}

.biero-home-button {
    display: flex;
    width: 115px;
    height: 59px;
    padding: 5px 24px 5px 21px;
    justify-content: center;
    align-items: center;
    background: #F0F405;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 16px;
    font-size: 16px;
    border: none;
}



