.navbar {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    flex-wrap: wrap;
}

.navbar .button-beer {
    text-decoration: none;
}

.navbar .button-beer button {
    display: flex;
    width: 115px;
    height: 59px;
    padding: 5px 24px 5px 21px;
    justify-content: center;
    align-items: center;
    background: #F0F405;
    border-radius: 4px;
    font-weight: bold;
}

.navbar .button-beer button:hover {
    color: #666;
}

.navbar .menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar .menu button {
    margin-left: 16px;
}

.navbar button {
    border: none;
    font-size: 16px;
    color: black;
    cursor: pointer;
    margin-left: 16px;
    text-decoration: none;
    font-weight: bold;
}

.navbar button:hover {
    color: #ccc;
}
