@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

* {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Poppins', 'Plus Jakarta Sans', sans-serif;

}

.outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-container {
    flex-basis: 1200px;
    margin-inline: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}


.pages-padding {
    padding-top: 55px;
}

.pages-padding h2 {
    text-align: center;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}