

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.outer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner-container {
    flex-basis: 1200px;
    margin-inline: 20px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 0;
}

